<div class="mdl-typography--text-center">
  <img src="/view/assets/logo.JPG" />
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col-tablet"></div>
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--6-col-tablet">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">
          <h5 class="mdl-typography--text-center">RUTINAS</h5>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="routine in routines">
        <td class="mdl-data-table__cell--non-numeric" ng-click="goToRoutine(routine.id)">
          <h4 class="mdl-typography--text-center">{{ routine.title }}</h4>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mdl-cell mdl-cell--1-col-tablet"></div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col-tablet"></div>
  <div class="mdl-cell mdl-cell--6-col-tablet mdl-typography--text-center">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background: #F17408;" ng-click="goToCreateRoutine()">
      <i class="material-icons">add</i>
    </button>
  </div>
  <div class="mdl-cell mdl-cell--1-col-tablet"></div>
</div>