<button button-back></button>

<div class="mdl-typography--text-center">
  <h4>CREAR RUTINA</h4>
  
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" ng-model="routine.title" />
  </div>
</div>

<div class="mdl-typography--text-center">
  <h5>
    AGREGAR ACTIVIDAD 
    <button id="menu-activity-selection" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button>
  </h5>
  
  <ul class="mdl-menu mdl-js-menu" for="menu-activity-selection">
    <li class="mdl-menu__item">Fast</li>
    <li class="mdl-menu__item">Medium</li>
    <li class="mdl-menu__item">Slow</li>
  </ul>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col-tablet"></div>
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--6-col-tablet">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">ACTIVIDAD</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="activity in routine.activities"A>
        <td class="mdl-data-table__cell--non-numeric">
          <span>{{ activity }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mdl-cell mdl-cell--1-col-tablet"></div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col-tablet"></div>
  <div class="mdl-cell mdl-cell--6-col-tablet mdl-typography--text-center">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background: #F17408;" ng-click="goToCreateActivity()">
      <i class="material-icons">add</i>
    </button>
  </div>
  <div class="mdl-cell mdl-cell--1-col-tablet"></div>
</div>