<button button-back></button>

<div class="mdl-typography--text-center">
  <h4>{{ routine.title }}</h4>
</div>

<div class="mdl-grid" ng-repeat="activity in activityList">
  <div class="mdl-cell mdl-cell--1-col-tablet"></div>
  <div class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--6-col-tablet" ng-click="goToActivity(activity.id)">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{ activity.title }}</h2>
    </div>
    <div class="mdl-card__media">
      <img ng-src="{{ activity.banner }}" class="routine-activity-banner">
    </div>
  </div>  
  <div class="mdl-cell mdl-cell--1-col-tablet"></div>
</div>