<button button-back></button>

<div class="mdl-typography--text-center">
  <h4>CREAR</h4>
</div>

<div class="mdl-typography--text-center">
  <a href="#create/routine" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    RUTINA
  </a>

  <a href="#create/activity" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    ACTIVIDAD
  </a>

  <a href="#create/resource" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    RECURSO
  </a>
</div>