<button button-back></button>

<div class="mdl-typography--text-center">
  <h4>CREAR ACTIVIDAD</h4>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col-tablet"></div>
  <div class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--6-col-tablet">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">
        <span class="mdl-textfield mdl-js-textfield" mdl-component>
          <input class="mdl-textfield__input" id="newActivityTitle" type="text" ng-model="activity.title" />
          <label class="mdl-textfield__label" for="newActivityTitle">titulo</label>
        </span>
      </h2>
    </div>
    <div class="mdl-card__media">
      <img ng-src="{{ previewUrl }}" class="routine-activity-banner">
    </div>
    <div class="mdl-card__actions mdl-typography--text-center">
      <span class="mdl-textfield mdl-js-textfield" mdl-component>
        <input class="mdl-textfield__input" id="newActivityBanner" type="text" ng-model="activity.banner" />
        <label class="mdl-textfield__label" for="newActivityBanner">banner</label>
      </span>
    </div>
  </div>  
  <div class="mdl-cell mdl-cell--1-col-tablet"></div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col-tablet"></div>
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--6-col-tablet">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">RECURSO</th>
        <th class="mdl-data-table__cell--non-numeric">AGREGADO</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="resourceSelection in resourceSelectionList">
        <td class="mdl-data-table__cell-non-numeric">
          <span>{{ resourceSelection.resource.title }}</span>
        </td>
        <td class="mdl-data-table__cell-non-numeric">
          <input type="checkbox" ng-model="resourceSelection.enabled">
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mdl-cell mdl-cell--1-col-tablet"></div>
</div>

<div class="mdl-typography--text-center">
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="previewActivity()" mdl-component>
    PREVISUALIZAR
  </button>
  
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="saveActivity()" mdl-component>
    GUARDAR
  </button>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="cancel()" mdl-component>
    CANCELAR
  </button>
</div>